<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Calazzans</title>
</head>
<body>
    <div class="login-container">
        <div class="side-panel">
            <h1 class="logo-name">CALAZZANS</h1>
            <h2 class="headline">Tome o controle de sua vida financeira</h2>
            
        </div>

        <div class="login-form-panel">
            <h2 class="form-title">Login</h2>
            
            <form action="#" method="POST" class="login-form" id="login">
                
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="E-mail" required>
                </div>

                <div class="input-group password-group">
                    <input type="password" id="senha" name="senha" placeholder="Senha" required>
                    <p id="msg"></p>
                </div>

                <button type="submit" class="btn-login">Entrar</button>
            </form>

            <div class="links-section">
                <a href="#" class="forgot-password">Esqueceu a senha?</a>
                <p>Não tem conta? <a href="#" class="btn-signup">Cadastre-se agora!</a></p>
            </div>
        </div>
    </div>
</body>
<script src="../../js/login.js"></script>
</html>