<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução</title>
</head>
<body>
    <link rel="stylesheet" href="../css/GerenciarCalazzans.css">
<script src="../js/Intro.js" defer></script>

<div class="intro-container">
    <div class="intro-card">
        <h1 class="logo">Callazzans</h1>
        <p class="intro-text">O Callazzans é uma plataforma criada para ajudar você a organizar suas finanças de forma simples e eficiente. Aqui você pode registrar gastos, acompanhar seu saldo mensal, visualizar despesas por categoria e manter controle total das suas metas financeiras.Nosso objetivo é oferecer uma experiência clara e intuitiva, ajudando você a tomar decisões melhores e alcançar uma vida financeira mais equilibrada. <br><br>
        Cuide do seu dinheiro com leveza e controle.
        </p>
            
        <button class="enter-btn" onclick="enterSite()">
            Entrar no site
        </button>
    </div>
</div>

</body>
</html>